/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

// 定義 SCSS 變數：src/styles/variables.scss
// $primary-color: #FF5722;
// $secondary-color: #FFC107;

// 自定義主題色
$primary: #103b29;
$secondary: #424242;
$accent: #82B1FF;
$error: #FF5252;
$info: #2196F3;
$success: #4CAF50;
$warning: #FFC107;
